AuthType Basic
AuthName "Please use your Aegis corporate network login.  Email Aegis IT Support for access."
AuthUserFile /var/www/html2/.htpasswd
Require valid-user

SetEnvIf Request_URI "(/var/www/html2/app/webroot/files/uploads/)$" allow
Order allow,deny
Allow from env=allow
Satisfy any