@CHARSET "UTF-8";

* {
	margin: 0;
}
html, body {
	height: 100%;
}

body {
	background: url('../img/ipg/background.png');
}

#container {
	width: 1020px;
	margin: 0 auto -134px auto;
	padding: 0;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

#footer, #push {
	height: 134px;
}

#container #header ul#navigation {
	list-style-type: none;
	margin: 0;
	padding: 10px 0 0 0;
}

#container #header ul#navigation li a {
	display: block;
	width: 160px;
	height: 60px;
	float: left;
	margin: 0;
	padding: 0;
}

#container #header ul#navigation li span {
	display: none;
}

#container #header ul#navigation li.home a {
	background: url('../img/ipg/home-spritemap.png') -20px -115px no-repeat;
}

#container #header ul#navigation li.home-current a, #container #header ul#navigation li.home:hover a {
	background: url('../img/ipg/home-spritemap.png') -20px -32px no-repeat;
}

#container #header ul#navigation li.message a {
	background: url('../img/ipg/home-spritemap.png') -175px -115px no-repeat;
}

#container #header ul#navigation li.message-current a, #container #header ul#navigation li.message:hover a {
	background: url('../img/ipg/home-spritemap.png') -175px -32px no-repeat;
}

#container #header ul#navigation li.categories a {
	background: url('../img/ipg/home-spritemap.png') -335px -115px no-repeat;
}

#container #header ul#navigation li.categories-current a, #container #header ul#navigation li.categories:hover a {
	background: url('../img/ipg/home-spritemap.png') -335px -32px no-repeat;
}

#container #header ul#navigation li.judging a {
	background: url('../img/ipg/home-spritemap.png') -500px -115px no-repeat;
}

#container #header ul#navigation li.judging-current a, #container #header ul#navigation li.judging:hover a {
	background: url('../img/ipg/home-spritemap.png') -500px -32px no-repeat;
}

#container #header ul#navigation li.awards a {
	background: url('../img/ipg/home-spritemap.png') -660px -115px no-repeat;
}

#container #header ul#navigation li.awards-current a, #container #header ul#navigation li.awards:hover a {
	background: url('../img/ipg/home-spritemap.png') -660px -32px no-repeat;
}

#container #header ul#navigation li.submission-form a {
	background: url('../img/ipg/home-spritemap.png') -820px -115px no-repeat;
	width: 200px;
}

#container #header ul#navigation li.submission-form-current a, #container #header ul#navigation li.submission-form:hover a {
	background: url('../img/ipg/home-spritemap.png') -820px -32px no-repeat;
	width: 200px;
}

#content {
	clear: left;
}

#footer {
	background: url('../img/ipg/footer-bg.png') repeat-x;
}

#content #main-image-wrapper {
}

#content #main-image {
	width: 1020px;
	text-align: center;
	background: url('../img/ipg/home-spritemap.png') -20px -185px no-repeat;
	height: 350px;
}

#footer .wrapper {
	margin: 0 auto 0 auto;
	width: 1000px;
}

#footer .wrapper .left {
	float: left;
}

#footer .wrapper .left #footer-logo {
	background: url('../img/ipg/home-spritemap.png') -75px -550px no-repeat;
	width: 310px;
	height: 125px;
	display: block;
}

#footer .wrapper .right {
	float: right;
}

#footer .wrapper .right #footer-button {
	background: url('../img/ipg/home-spritemap.png') -485px -590px no-repeat;
	display: block;
	width: 150px;
	height: 85px;
}

div.center {
	text-align: center;
	padding-top: 10px;
}

.white {
	color: #fff;
}

.blue {
	color: #009BC9;
}

.blue-shadow {
	/*text-shadow: 2px -1px #009bc9;*/
    text-shadow: 1px -1px #0e6b86;
}

.green {
	color: #8CC63F;
}
.green-shadow {
	/*text-shadow: 2px -1px #8cc63f;*/
    text-shadow: 1px -1px #5f8331;
}

.blue-green {
	color: #2aa2bd;
}

.orange {
	/*color: #c06823;*/
	color: #f58026;
}
.orange-shadow {
	/*text-shadow: 2px -1px #c06823;*/
	/*text-shadow: 2px -1px #f58026;*/
    text-shadow: 1px -1px #996235;
}

.grey-shadow {
	/*text-shadow: 2px -1px #707171;*/
    text-shadow: 1px -1px #595b59;
}

@font-face {
    font-family: 'dirty_headlineregular';
    src: url('../fonts/dirtyheadline.eot');
    src: url('../fonts/dirtyheadline.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dirtyheadline.woff') format('woff'),
         url('../fonts/dirtyheadline.ttf') format('truetype'),
         url('../fonts/dirtyheadline.svg#dirty_headlineregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.dirty-headline {
	font-family: 'dirty_headlineregular';
}

@font-face {
    font-family: 'dk_crayon_crumbleregular';
    src: url('../fonts/dk_crayon_crumble.eot');
    src: url('../fonts/dk_crayon_crumble.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dk_crayon_crumble.woff') format('woff'),
         url('../fonts/dk_crayon_crumble.ttf') format('truetype'),
         url('../fonts/dk_crayon_crumble.svg#dk_crayon_crumbleregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.dk-crayon-crumble {
	font-family: 'dk_crayon_crumbleregular';
}

@font-face {
    font-family: 'drawing_guidesregular';
    src: url('../fonts/drawing_guides.eot');
    src: url('../fonts/drawing_guides.eot?#iefix') format('embedded-opentype'),
         url('../fonts/drawing_guides.woff') format('woff'),
         url('../fonts/drawing_guides.ttf') format('truetype'),
         url('../fonts/drawing_guides.svg#drawing_guidesregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.drawing-guides {
	font-family: 'drawing_guidesregular';
}

@font-face {
    font-family: 'squeaky_chalk_soundregular';
    src: url('../fonts/squeakychalksound.eot');
    src: url('../fonts/squeakychalksound.eot?#iefix') format('embedded-opentype'),
         url('../fonts/squeakychalksound.woff') format('woff'),
         url('../fonts/squeakychalksound.ttf') format('truetype'),
         url('../fonts/squeakychalksound.svg#squeaky_chalk_soundregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.squeaky-chalk-sound {
	font-family: 'squeaky_chalk_soundregular';
}

@font-face {
    font-family: 'teenregular';
    src: url('../fonts/teen____.eot');
    src: url('../fonts/teen____.eot?#iefix') format('embedded-opentype'),
         url('../fonts/teen____.woff') format('woff'),
         url('../fonts/teen____.ttf') format('truetype'),
         url('../fonts/teen____.svg#teenregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.teen {
	font-family: 'teenregular';
}

@font-face {
    font-family: 'teenbold_italic';
    src: url('../fonts/teenbdit.eot');
    src: url('../fonts/teenbdit.eot?#iefix') format('embedded-opentype'),
         url('../fonts/teenbdit.woff') format('woff'),
         url('../fonts/teenbdit.ttf') format('truetype'),
         url('../fonts/teenbdit.svg#teenbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

.teenbold {
	font-family: 'teenbold_italic';
}

@font-face {
    font-family: 'kg_ten_thousand_reasonsRg';
    src: url('../fonts/kgtenthousandreasons.eot');
    src: url('../fonts/kgtenthousandreasons.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kgtenthousandreasons.woff') format('woff'),
         url('../fonts/kgtenthousandreasons.ttf') format('truetype'),
         url('../fonts/kgtenthousandreasons.svg#kg_ten_thousand_reasonsRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

.kg-ten-thousand-reasons {
	font-family: 'kg_ten_thousand_reasonsRg';
}

.arial {
	font-family: 'Arial';
}

.font-10 {
	font-size: 10px !important;
}

.font-11 {
	font-size: 11px !important;
}

.font-12 {
	font-size: 12px !important;
}

.font-14 {
	font-size: 14px !important;
}

.font-16 {
	font-size: 16px !important; 
}

.font-18 {
	font-size: 18px !important; 
}

.font-20 {
	font-size: 20px !important; 
}

.italic {
	font-style: italic;
}

#categories-container {
	padding-top: 20px;
}

#categories-container a {
	text-decoration: none;
	color: #fff;
}

#container #content #categories-header {
	background: url('../img/ipg/categories-sprite.png') -251px -30px no-repeat;
	width: 1000px;
	height: 145px;
}

#categories-container h2 {
	font-family: 'dirty_headlineregular';
	font-size: 30px;
	color: #fff;
	
	margin-top: 25px;
	margin-bottom: 15px;
}

#container #pioneering-solutions {
	width: 1000px;
	margin: 20px auto 0 auto;
	font-family: "dk_crayon_crumbleregular";
	color: #c06823;
	font-size: 32px;
}

#container #pioneering-solutions-link {
	text-align: right;
	font-family: Arial;
	font-size: 12px;
	color: #fff;
}

#container #pioneering-solutions-link p {
	margin: 5px 20px 0px 0px;
}

#container #ambitiously-driving {
	width: 1000px;
	margin: 30px auto 0 auto;
	color: #009bc9;
	font-family: "kg_ten_thousand_reasonsRg";
	font-size: 20px;
}

#container #ambitiously-driving-link {
	text-align: right;
	font-family: Arial;
	font-size: 12px;
	color: #fff;
}

#container #ambitiously-driving-link p {
	margin: 5px 20px 0px 0px;
}

#container #digital-performance {
	width: 1020px;
	margin: 0 auto 0 auto;
	font-family: Arial;
	font-size: 12px;
	color: #fff;
	padding-bottom: 115px;
}

#container #digital-performance .left-block {
	float: left;
	width: 470px;
	font-family: "teenregular";
	font-size: 24px;
}

#container #digital-performance .right-block {
	float: left;
	width: 480px;
	color: #d2d2d2;
	font-family: 'squeaky_chalk_soundregular';
	font-size: 20px;
}

#container #digital-performance p {
	margin: 5px 0px 0px 0px;
}

#container .digital-performance-link p {
	font-family: 'Arial';	
	font-size: 12px;
}

.powering-solutions-popup {
	background: url('../img/ipg/categories-sprite.png') -1310px -10px no-repeat;
	width: 740px;
	height: 675px;
}

.powering-solutions-popup a {
	display: block;
	border: none;
	text-decoration: none;
	width: 740px;
	height: 675px;	
}

.sep-line {
	padding: 10px 0 10px 10px;
}

.clear {
	clear: both;
}

.right {
	text-align: right;
}

.sep-block {
	float: left;
}

.first-link {
	padding-top: 10px;
}

.sep-block img {
	padding: 0 10px 20px 10px;
}

div.submission-form {
	color: #fff;
	font-family: 'squeaky_chalk_soundregular';
	width: 970px;
	margin-left: 20px;
}

.submission-form .submit {
	background-color: transparent;
	border: none;
}

.submission-form h1 {
	padding-top: 25px;
	font-size: 33px;
	text-align: center;
}

.submission-form h2 {
	color: #f58026;
	padding: 10px 0 10px 0;
}

.submission-form .left {
	float: left;
	width: 400px;
}

.submission-form span.small
{
	font-size: 10px;
	font-family: 'Arial';
	font-style: italic;
}

.submission-form #checkboxes {
	text-transform: uppercase;
}

.submission-form #form-top .input {
	clear: left;
	padding: 0 0 15px 0;
}

.submission-form #form-top label {
	display: block;
	float: left;
	width: 200px;
}

.submission-form #form-middle .input, .submission-form #form-middle-cultivate .input {
	clear: left;
	padding: 0 0 15px 0;
}

.submission-form #form-middle label {
	display: block;
	float: left;
	width: 200px;
}

.submission-form #form-middle-cultivate label {
	width: 350px;
	display: block;
	float: left;
}

.submission-form #form-middle #checkboxes label {
	display: inline;
	float: none;
	width: auto;
}

#dont-forget {
	width: 520px;
	margin: 0 auto 0 auto;
}

#dont-forget .left {
	width: 200px;
	font-size: 42px;
}

#dont-forget .left p {
	height: 79px;
	line-height: 79px;
	vertical-align: middle;
}

#dont-forget .right {
	width: 320px;
	float: left;
	text-align: center;
}

#dont-forget .right .drawing-guides {
	font-size: 52px;
}

#dont-forget .right .bottom {
	font-size: 20px;
}

#form-bottom {
	padding-top: 20px;
}

.solid-sep {
	padding: 25px 0 25px 0;
	width: 100%;
	text-align: center;
}

.dashed-sep {
	padding: 25px 0 25px 0;
	width: 100%;
	text-align: center;
}

.indent {
	padding-left: 10px;
}

#no-more a, #no-more span {
	font-family: 'Arial';
	font-size: 12px;
	text-decoration: none;
}

#word-submission-container {
	width: 700px;
	margin: 15px auto 0 auto;
}

#word-submission-container textarea {
	width: 700px;
	height: 100px;
}

.other-error {
	font-size: 10px;
	text-transform: none;
}

.other-error, .error-message {
	color: #ff0000;
	font-size: 12px;
}

.error-bg {
	background-color: #ff9f9f;
}

.files-container label {
	display: block;
}

.files-container div.input {
	padding-bottom: 20px;
}

.files-container h2 {
	padding-bottom: 0px;
}

.files-container .solid-sep {
	padding: 5px 0 25px 0;
}

.submit {
	width: 353px;
	height: 100px;
	background-image: url('../img/ipg/submit.png');
	cursor: pointer;
}

.submit:hover {
	width: 353px;
	height: 100px;
	background-image: url('../img/ipg/submit_hover.png');
	cursor: pointer;
}

.submit-container {
	padding-bottom: 20px;
}

.center {
	text-align: center;
}

#form-bottom .error-message {
	padding-top: 15px;
	text-align: center;
	font-size: 20px;
}

.submission-popup-container {
	padding-top: 20px;
}

.submission-popup-container a {
	display: block;
	width: 203px;
	height: 58px;
	background-image: url('../img/ipg/submission_criteria_white.png');
	margin: 0 auto 0 auto;
}

.submission-popup-container .pioneering:hover {
	background-image: url('../img/ipg/submission_criteria_orange.png');
}

.submission-popup-container .ambitiously:hover {
	background-image: url('../img/ipg/submission_criteria_blue.png');
}

.submission-popup-container .digital:hover {
	background-image: url('../img/ipg/submission_criteria_green.png');
}

.submission-popup-container .cultivating:hover {
	background-image: url('../img/ipg/submission_criteria_grey.png');
}

.thank-you {
	font-size: 30px;
	padding-top: 50px;
}

#categories-selector-container {
	padding: 25px 0 25px 0;
}

#categories-selector {
	width: 889px;
	height: 816px;
}

#categories-selector.default {
	background-image: url('../img/ipg/submission-cat.png');
}

#categories-selector #pioneering {
	display: block;
	width: 550px;
	height: 120px;
	position: relative;
	top: 180px;
	margin: 0 auto 0 auto;
}
#categories-selector.pioneering {
	background-image: url('../img/ipg/submission-cat_01.png');
}

#categories-selector #ambitiously {
	display: block;
	width: 550px;
	height: 120px;
	position: relative;
	top: 190px;
	margin: 0 auto 0 auto;
}
#categories-selector.ambitiously {
	background-image: url('../img/ipg/submission-cat_02.png');
}

#categories-selector #digital {
	display: block;
	width: 550px;
	height: 120px;
	position: relative;
	top: 205px;
	margin: 0 auto 0 auto;
}
#categories-selector.digital {
	background-image: url('../img/ipg/submission-cat_03.png');
}

#categories-selector #cultivating {
	display: block;
	width: 550px;
	height: 120px;
	position: relative;
	top: 215px;
	margin: 0 auto 0 auto;
}
#categories-selector.cultivating {
	background-image: url('../img/ipg/submission-cat_04.png');
}

.hidden {
	display: none;
}

.textarea-label {
	padding: 15px 0 0 0;
}

#judging-container {
	padding-top: 20px;
	padding-bottom: 20px;
}

#judging-container h1
{
	font-size: 48px;
}

#judging-container .top p {
	font-size: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#categories-container h2 a {
    text-decoration: none;
}
